{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="col-md-6 mx-auto mt-5">
        <h2 class="text-center text-primary mb-4">Crea tu Cuenta</h2>
        <div class="text-center mb-4">
            <img src="{% static 'images/register-illustration.png' %}" alt="Register Illustration" class="img-fluid" style="max-height: 200px;">
        </div>
        <form method="post" enctype="multipart/form-data" class="p-4 shadow rounded bg-white">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="alert alert-info" role="alert">
                <i class="fas fa-info-circle"></i> Puedes seleccionar hasta 10 archivos a la vez.
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Registrarse</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.querySelector('input[type="file"]');
            fileInput.addEventListener('change', function() {
                if (this.files.length > 10) {
                    alert('No puedes subir más de 10 archivos.');
                    this.value = '';
                }
            });
        });
    </script>
{% endblock %}